.main-container {
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  gap: 141px;
  margin-top: 125px;
}
.hero-img {
  display: flex;
}
.wrapper-hero {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
.hero-title {
  font-family: "Poppins";
  font-size: 58px;
  font-weight: 700;
  line-height: 87px;
  margin-bottom: 39px;
}
.hero-hr {
  margin-bottom: 39px;
  width: 183px;
}
.hero-p {
  margin-bottom: 56px;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
.hero-btn {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 193px;
  background-color: #60c7bf;
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  color: #fff;
  border: 0;
  border-radius: 12px;
  padding: 20px 48px;
}
.line {
  margin-left: 11px;
}
.hero-2-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 174px;
}
.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 354px;
  background-color: #2a2a2a;
  margin-right: 77px;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 50px;
  padding-right: 148px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  width: 531px;
  background-color: #2a2a2a;
  margin-right: 129px;
  padding-top: 31px;
  padding-left: 50px;
  padding-bottom: 31px;
  padding-right: 234px;
}
.box-3 {
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 22px;
  padding-right: 21px;
  background-color: #60c7bf;
}
.box-1-p {
  font-family: "Poppins";
  font-size: 34px;
  font-weight: 500;
  line-height: 51px;
  color: #fff;
}
.box-1-p2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #fff;
}
.box-2-p {
  font-family: "Poppins";
  font-size: 34px;
  font-weight: 500;
  line-height: 51px;
  color: #fff;
}
.box-2-p2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #fff;
}
.box-3-p {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
}
.hero-3-box {
  width: 428px;
  background-color: #b5b5b5;
}
// .hero-3-kok {
//   width: 267px;
//   background-color: #60c7bf80;
// }
