.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.logo {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.nav-item {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  transition: 0.2s linear;
}
.nav-item:hover {
  color: blueviolet;
}
