.hero-5-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 470px;
  gap: 70px;
}
.hero-5-h2 {
  font-family: "Poppins";
  font-size: 68px;
  font-weight: 700;
  line-height: 102px;
  margin-bottom: 90px;
}
.hero_5-box1 {
  position: relative;
  display: flex;
  gap: 55px;
  background-color: #f6f6f6;
  padding: 48px 96px;
}
.hero_5-box2 {
  position: relative;
  display: flex;
  gap: 55px;
  background-color: #f6f6f6;
  padding: 48px 96px;
}
.hero_5-box3 {
  position: relative;
  display: flex;
  gap: 55px;
  background-color: #f6f6f6;
  padding: 48px 96px;
  margin-bottom: 233px;
}
.hero-5_text {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  gap: 10px;
}
.hero-5_img {
}
.hero-5.png {
  position: absolute;
}
.hero-5.png2 {
  position: absolute;
}
.boks-1-h2 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}
.hero-5-p {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
}
.hero-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.hero-6-h2 {
  width: 100%;
  max-width: 300px;
  font-family: "Poppins";
  font-size: 68px;
  font-weight: 700;
  line-height: 102px;
}
.hero-6-p {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  width: 600px;
}
.btn-1 {
  display: flex;
  width: 193px;
  background-color: #60c7bf;
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  color: #fff;
  border: 0;
  border-radius: 12px;
  padding: 20px 48px;
}
.hero-7 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 210px;
}
.hero-7-png {
  margin-bottom: 26px;
}
.hero-7-p1 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 26px;
}
.hero-7-h3 {
  width: 100%;
  max-width: 436px;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 26px;
}
.hero-7-p2 {
  font-family: "Poppins";
  font-size: 28px;
}
